<div id="footer">
  <div class="footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 custom-icons">
          <a href="https://www.facebook.com/pauline.pecorini"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/paulinepeco"> <i class="fa fa-twitter"></i></a>
          <a href="https://www.instagram.com/paulinepeco/"><i class="fa fa-instagram"></i></a>
          <a href="https://www.linkedin.com/paulinepecorini/"><i class="fa fa-linkedin"></i></a>
        </div>

        <div class="col-xs-12 col-sm-8 text-right custom-icons margin">
          <p>This is a Java-nanas creation @LeWagon</p>
        </div>
      </div>
    </div>
  </div>
</div>
